@tailwind base;
@tailwind components;
@tailwind utilities;

.item-link {
  transition: all 0.3s ease-in-out;
  -webkit-text-decoration-color: #ffcf01;
  text-decoration-color: #ffcf01;
}

.item-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  -webkit-text-decoration-color: #ffcf01;
  text-decoration-color: #ffcf01;
  transition: all 0.3s ease-in-out;
}

.hover-up {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.hover-up:hover {
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y));
}
